{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/home.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/home.js') }}"></script>
{% endblock %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="home_container">
		<div class="home_logo_content">
			<div class="home_logo_img">
				<img src="/assets/logo 1.png" alt="logo_image">
			</div>
			<div class="home_logo_name">
				<h2>SoundWave</h2>
			</div>
		</div>
		<div class="home_connexion">
			<a class="home_tab_link active" data-ref="connexion" href="javascript:void(0)">Connexion</a>
			<a class="home_tab_link" data-ref="inscription" href="javascript:void(0)">Inscription</a>
		</div>
		<div class="tab-body" data-id="connexion">
			<form>
				<div class="input_box">
					<input type="mail" class="input" required>
					<label>Email</label>
				</div>
				<div class="input_box">
					<input type="password" class="input" required>
					<label>Mot de passe</label>
				</div>
				<button class="home_btn" type="button">Se connecter</button>
			</form>
		</div>

		<div class="tab-body" data-id="inscription">
			<form>
				<div class="input_box">
					<input type="text" class="input" required>
					<label>Pseudo</label>
				</div>
				<div class="input_box">
					<input type="mail" class="input" required>
					<label>Email</label>
				</div>
				<div class="input_box">
					<input type="password" class="input" required>
					<label>Mot de passe</label>
				</div>
				<button class="home_btn" type="button">S'inscrire</button>

			</form>

		</div>

	</div>
{% endblock %}
