{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/home.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/home.js') }}" defer></script>
{% endblock %}

{% block title %}Hello HomeController!
{% endblock %}

{% block main %}
	<div class="home_main">
		<div class="home_container">
			<div class="home_logo_content">
				<div class="home_logo_img">
					<img src="/assets/images/logo.png" alt="logo_image">
				</div>
				<div class="home_logo_name">
					<h2>SoundWave</h2>
				</div>
			</div>
			<div class="home_connexion">
				<a class="home_tab_link active" data-ref="connexion" href="javascript:void(0)">Connexion</a>
				<a class="home_tab_link" data-ref="inscription" href="javascript:void(0)">Inscription</a>
			</div>
			<div class="tab-body" data-id="connexion">
				<form>
					<div class="input_box">
						<input type="mail" class="input" required>
						<label>Email</label>
					</div>
					<div class="input_box">
						<input type="password" class="input" required>
						<label>Mot de passe</label>
					</div>
					<button class="home_btn" type="button">Se connecter</button>
				</form>
			</div>

			<div class="tab-body" data-id="inscription">
    <form method="POST" action="{{ path('home.inscription') }}">
        <div class="input_box">
            <input type="text" class="input" name="pseudo" required>
            <label>Pseudo</label>
        </div>
        <div class="input_box">
            <input type="email" class="input" name="email" required>
            <label>Email</label>
        </div>
        <div class="input_box">
            <input type="password" class="input" name="password" required>
            <label>Mot de passe</label>
        </div>
        <button class="home_btn" type="submit">S'inscrire</button>
    </form>
</div>


		</div>
	</div>
{% endblock %}
