{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/home.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/home.js') }}"></script>
{% endblock %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<p>coucou</p>
{% endblock %}