{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/base.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/base.js') }}"></script>
{% endblock %}

<footer>
	<div class="player-btn-group"></div>
</footer>
