<footer>
	<div class="player-btn-group">
		<button id="backward">
			<i class="fa-solid fa-backward-step"></i>
		</button>
		<button id="start-stop">
			<i class='fa-solid fa-play'></i>
		</button>
		<button id="forward">
			<i class="fa-solid fa-forward-step"></i>
		</button>
	</div>
	<div class="player-main">
		<div class="top-player">

			<div class="track-artist">
				<div class='vinyl'>
					<img src="/assets/images/vinyl.svg" alt="">
				</div>
				<div>
					<span class="track-name">▄▄▄▄▄▄▄▄</span>
					&nbsp;-&nbsp;
					<span class="artist">▄▄▄</span>
				</div>
			</div>
			<div class="fav-pl-btn">
				{# <button class="favorite-btn">
					<input name="heart" type="checkbox" id={{'heart-' ~ responseTrack[i].id}} onchange="updateFavorite(this)" checked>
					<label for={{'heart-' ~ responseTrack[i].id}}></label>
				</button> #}
				<button class="favorite-btn">
					<input name="heart" type="checkbox" id={{'heart-' ~ responseTrack[i].id}} onchange="updateFavorite(this)" checked>
					<label for={{'heart-' ~ responseTrack[i].id}}></label>
				</button>
				<button class="playlist-btn">
					<i class="fa-solid fa-plus"></i>
				</button>
				<div class="add-on-pl-modal">
					<div class="add-on-pl-header">
						<span>
							<i class="fa-solid fa-plus"></i>Nouvelle playlist</span>
					</div>
					<div class="pl-list">
						<div class="pl-container">
							<div class="img"></div>
							<span class="pl-name">Playlist</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-player">
			<div id="elapsed-player">0:00</div>
			<input type="range" min="0" value="0">
			<div id="duration-player">-:--</div>
		</div>
	</footer>
