@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --main-color: #00D98E;
    --main-bg: #121216;
    --secondary-bg: #191922;
    --tertiary-bg: #23232D;
    --grey-border: #353535;
    --grey-text: #A7A7A7;
    --white: white;
}

* {
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    transition: 500ms;
}

body {
    box-sizing: border-box;
    min-width: 370px;
}

.top-container {
    display: flex;
}

main {
    width: 100%;
    min-height: 91vh;
    background: var(--main-bg);
    overflow: scroll;
}

/*---------------------------------------*/
/*------------------NAV------------------*/
/*---------------------------------------*/
nav#desktop-nav {
    display: initial;
    position: sticky;
    top: 0;
    height: 91vh;
    max-width: 250px;
    width: 27%;
    background: var(--secondary-bg);
    border-right: var(--grey-border) 1px solid;
}

nav#mobile-nav {
    display: fixed;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 25px 10px 35px 1.5vw;
}

.logo img {
    width: 40px;
}

.logo .brand {
    font-family: 'Righteous', cursive;
    font-size: 25px;
    margin-left: 5px;
}



nav a {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 15px 15px 15px 1.7vw;
}

nav a:hover {
    background: var(--tertiary-bg);
}

nav a.selected span,
nav a.selected i {
    color: var(--main-color);
}

nav a span {
    padding-left: 10px;
}

nav .bottom-links {
    position: absolute;
    bottom: 0;
    width: 100%;
}

nav .menu-title {
    display: none;
}

nav .bottom-links a:last-child {
    border-top: var(--grey-border) 1px solid;
}

nav .bottom-links a:last-child>i,
nav .bottom-links a:last-child>span {
    color: var(--grey-text);
}

header {
    display: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    transition: 500ms;
}

/*---------------------------------------*/
/*-----------------FOOTER----------------*/
/*---------------------------------------*/
footer {
    display: flex;
    align-items: center;
    position: sticky;
    background: var(--tertiary-bg);
    bottom: 0;
    height: 9vh;
    width: 100%;
    border-top: var(--grey-border) 1px solid;
}

footer .player-btn-group{
    height: 100%;
    width: 27%;
    max-width: 250px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .player-btn-group button{
    width: 35px;
    height: 35px;
    padding: 1%;
    margin: 1%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .player-btn-group button:hover{
    background: var(--grey-border);
    transform: scale(1.15);
}

footer .player-btn-group button i{
    font-size: 25px;
}

footer .player-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin-bottom: 7px;
}

footer .player-main .top-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    font-weight: 500;
    font-size: 17px;
    margin: 10px 5px;
}
footer .track-artist{
    display: flex;
}

footer .track-artist .vinyl{
    display: flex;
    align-items: center;
    margin-right: 15px;
}


footer .fav-pl-btn{
    margin-right: 40px
}

footer .player-main .top-player .fav-pl-btn i{
    color: var(--grey-text);
}

footer .player-main .top-player .fav-pl-btn i:hover{
    color: var(--white);
    transform: scale(1.15);
}

footer .player-main .bottom-player {
    display: flex;
    width: 95%;
}

footer .player-main .bottom-player input{
    width: 97%;
    margin-inline: 1.5%;
    background: var(--tertiary-bg);
    cursor: pointer;
}

footer .player-main .bottom-player > div{
    color : var(--grey-text)
}

/* modal ajout playlist */

footer .fav-pl-btn {
   position: relative;
}

footer .fav-pl-btn .add-on-pl-modal{
    width: 250px;
    height: 300px;
    background: var(--tertiary-bg);
    position: absolute;
    border-radius: 15px 15px 0px 15px;
    border: 2px solid var(--grey-border);
    bottom: 10px;
    right: 10px;
    display: none;
}

footer .fav-pl-btn .add-on-pl-header{
    display: flex;
    padding: 20px 25px;
}

footer .fav-pl-btn .add-on-pl-header i{
    margin-right: 10px;
}

footer .fav-pl-btn .add-on-pl-header span{
    color: var(--grey-text);
}

footer .fav-pl-btn .pl-container {
    display: flex;
    align-items: center;
    padding-inline: 25px;
    padding-block: 5px ;
}

footer .fav-pl-btn .pl-container .img{
    width: 30px;
    height: 30px;    
    margin-right: 10px;
    border-radius: 5px;
    background: red;
}

footer .fav-pl-btn .pl-container span{
    font-size: 14px;
}
/*************Firefox**************/
input[type=range]::-moz-range-track {
    background:  var(--grey-text);
    border-radius: 10px;
    transition: 500ms;  
}

input[type=range]::-moz-range-progress { 
    transition: 500ms;  
    background: var(--main-color);
    border-radius: 10px;       
}

input[type=range]::-moz-range-thumb {
  background: transparent;
  opacity: 0;
  border: none;
  transition: 500ms;  
}

input[type=range]:hover::-moz-range-thumb,
input[type=range]:active::-moz-range-thumb{
    background: white;
    opacity: 1;
}
  
input[type=range]:hover::-moz-range-track,
input[type=range]:hover::-moz-range-progress,
input[type=range]:active::-moz-range-track,
input[type=range]:active::-moz-range-progress{
    height: 5px;
}

/**************EDGE**************/
/* la zone de déplacement */
input[type=range]::-ms-track {
    background: var(--grey-text);
}

/* le curseur */
input[type=range]::-ms-thumb {
    background: transparent;
    height: 0;
}

/* le curseur */
input[type=range]:hover::-ms-thumb {
    background: white;
    height: 1rem;
    width: 1rem;
}

/* la tooltip de la valeur */
input[type=range]::-ms-tooltip {
  display: none;                  
}

/* barre progression avant */
input[type=range].custom-slider::-ms-fill-lower {
  background: var(--main-color);
}

/**********Chrome***********/

/* la zone de déplacement */
input[type=range]:-webkit-slider-runnable-track {
    background:  var(--grey-text);

}

  /* le curseur */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;               
    background: var(--white);
    display: none;    
}



/*---------------------------------------*/
/*--------------RESPONSIVE---------------*/
/*---------------------------------------*/

@media (max-width: 768px) {
    .top-container {
        display: block;
    }

    header {
        display: flex;
        height: 6vh;
        background: var(--secondary-bg);
        border-bottom: 1px solid var(--grey-border);
    }

    nav#mobile-nav {
        display: none;
        position: absolute;
        right: 0;
        max-width: none;
        height: 100vh;
        width: 50%;
        min-width: 320px;
        z-index: 3;
        background: var(--secondary-bg);
        border-left: var(--grey-border) 1px solid;
    }

    nav#desktop-nav {
        display: none;
    }

    main {
        min-height: 95vh !important;
    }

    .logo {
        display: flex;
        align-items: center;
        padding: 12px;
    }

    nav .logo {
        display: none;
    }

    .logo img {
        width: 40px;
    }

    .logo .brand {
        font-family: 'Righteous', cursive;
        font-size: 25px;
        margin-left: 5px;
    }

    .top-container button i {
        padding: 10px 15px;
        font-size: 25px;
    }

    .top-containerbutton>i {
        transition: 500ms;
    }

    .top-container button:hover>i {
        color: var(--main-color);
    }

    nav .menu-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav .menu-title span {
        font-size: 18px;
        padding: 10px;
        font-weight: 500;
    }

    /* Footer (player) */
    footer {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 13vh;
    }

    footer .player-btn-group{
        width: 100%;
        max-width: none;
        min-width: none;
    }
    
    footer .player-btn-group button{
        width: 35px;
        height: 35px;
        padding: 0;
        margin: 0 1%;
    }

    footer .player-btn-group button i{
        font-size: 22px;
    }

    footer .player-main  {
        margin-bottom: 10px !important;
        width: 98%;
    }
    
    footer .player-main .top-player {
        margin: auto !important;
    }
    
    footer .player-main .bottom-player {
        margin: auto !important;
    }
}
