body {
    margin: 0;
    background-color: #121216;
}

th {
    text-align: left;
}

hr {
    color: #26262E;
}

#discovery {
    height: 100vh;
    right: 0;
    width: 100%;
}

#searchIcon {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

#search {
    background-color: #121216;
    border: none;
}

#search:focus {
    outline: none;
}

#titleGenre {
    margin-left: 2%;
}

#titleTopFrance {
    margin-left: 2%;
}

.divGenreButton {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.genreButton {
    width: 22%;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#rapButton {
    background-image: linear-gradient(to right, #1E37B6, #1E37B6);
}

#popButton {
    background-image: linear-gradient(to right, #E596BB , #EF87B6);
}

#rockButton {
    background-image: linear-gradient(to right, #E45952 , #c53c34);
}

#rnbButton {
    background-image: linear-gradient(to right, #32498D , #5070C2);
}

#jazzButton {
    background-image: linear-gradient(to right, #0091B9 , #00C7EE);
}

#classiqueButton {
    background-image: linear-gradient(to right, #FFC740 , #FF9D06);
}

#varieteButton {
    background-image: linear-gradient(to right, #F76B79 , #dc4686);
}

#reggaeButton {
    background-image: linear-gradient(to right, #34CB96 , #2ec369);
}

#tableTop {
    width: 100%;
}

#track:hover {
    background-color: #32323c;
}

#albumCover {
    width: 70px;
}