body {
    margin: 0;
    background-color: #121216;
}

th {
    text-align: left;
}

hr {
    color: #26262E;
    margin-bottom: 0;
}

#discovery {
    height: 100vh;
    right: 0;
    width: 100%;
}

#divSearch {
    border-bottom: 3px solid #26262E;
    /* margin-bottom: 40px;   en js quand click du searchButton   */
}

#searchIcon {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
}

#search {
    background-color: #121216;
    border: none;
}

#divGenre {
    margin-bottom: 10px;
}

#search:focus {
    outline: none;
}

#titleGenre {
    margin-left: 2%;
    margin-bottom : 20px;
}

#titleTab {
    margin-left: 2%;
    margin-bottom : 20px;
}

.divGenreButton {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.genreButton {
    width: 22%;
    height: 90px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}

#rapButton {
    background-image: linear-gradient(to right, #1E37B6, #1E37B6);
}

#popButton {
    background-image: linear-gradient(to right, #E596BB , #EF87B6);
}

#rockButton {
    background-image: linear-gradient(to right, #E45952 , #c53c34);
}

#rnbButton {
    background-image: linear-gradient(to right, #32498D , #5070C2);
}

#jazzButton {
    background-image: linear-gradient(to right, #0091B9 , #00C7EE);
}

#classiqueButton {
    background-image: linear-gradient(to right, #FFC740 , #FF9D06);
}

#varieteButton {
    background-image: linear-gradient(to right, #F76B79 , #dc4686);
}

#reggaeButton {
    background-image: linear-gradient(to right, #34CB96 , #2ec369);
}

#tableTop {
    width: 100%;
}

#heart:hover {
    font-weight: bold;
    color: #c53c34;
}

#plus:hover {
    font-weight: bold;
    color: #00D98E;
}

#track:hover {
    background-color: #32323c;
}

#albumCover {
    width: 70px;
}