.favorite_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 7%;
}

.favorite_title {
    display: flex;
    padding-left: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.favorite_title h2 {
    margin: 0;
}

.favorite_title i {
    padding: 0 10px 0 0;
    font-size: 1.5em;
}

.favorite_general {
    width: 100%;
}

.favorite_general p {
    padding-left: 30px;
}

#favorite_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

#p_empty {
    font-size: 20px;
}

#listen {
    margin-left: 30px;
}


/**table**/

#tableTop {
    width: 100%;
}

table {
    table-layout: fixed;
    width: 94%;
    margin: 3%;
}

#heart:hover {
    font-weight: bold;
    color: #c53c34;
}

#plus:hover {
    font-weight: bold;
    color: #00D98E;
}

#track:hover {
    background-color: #32323c;
}

.img-td img {
    width: 100%
}

.img-td {
    /* background: red; */
    width: 5rem
}

.rank-td {
    width: 5%;
    /* background: blue; */
}

.title-td {
    /* background: yellow; */
    width: 35%;
    /* background: red; */
}

.heart-td {
    width: 3rem;
    /* background: blue; */
}

.track-container {
    cursor: pointer;
    border-bottom: 1px var(--grey-border) solid
}

/* -----css de heart avant--- */

.img-td img {
    width: 60px;
}

.img-td {
    width: 80px;
}

.artist-mobile {
    display: none
}


hr {
    color: transparent;
}

th,
td {
    padding: 3px 10px;
}

tr:hover {
    background: var(--tertiary-bg)
}

/*------------------message d'ajout à la playliste---------------*/
#error_message {
    margin-left: 30px;
    color: #c53c34;
    font-weight: bold;
}

#confirmation_message {
    margin-left: 30px;
    color: #00D98E;
    font-weight: bold;
}

/* ----------RESPONSIVE---------- */


@media (max-width: 768px) {

    #divGenre {
        margin-bottom: 10px;
        justify-content: space-evenly;
        /* height: 600px; */
    }

    .divGenreButton {
        justify-content: space-evenly;
        /* height: 600px; */
    }

    .genreButton {
        width: 45%;
    }

    .title-td {
        /* background: yellow; */
        width: 80%;
        position: relative;
        /* background: red; */
    }

    .artist-mobile {
        display: initial;
        font-size: 12px;
    }

    .artist-td,
    .album-td {
        display: none;
    }

    .rank-td {
        width: 2rem;
        /* background: blue; */
    }

    .heart-td {
        width: 2.5rem;
        /* background: blue; */
    }

    .plus-td {
        width: 2.5rem;
        /* background: red; */
    }

    .img-td img {
        width: 60px;
    }

    .img-td {
        width: 80px !important;
    }


    thead {
        display: none;
    }

}