.home_main {
    background-image: url('/assets/images/fond.png');
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.home_container {
    position: relative;
    width: 100%;
    max-width: 450px;
    min-height: 490px;
    height: auto;
    max-height: 520px;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
} 

.home_logo_content {
    display: flex;
   justify-content: center;
   align-items: center;
    margin-bottom: 125px;
    margin-left: -30px;
}

.home_logo_img img {
    width: 70px;
    padding: 0 5px;
}

.home_logo_name h2 {
    color: #fff;
    font-size: 35px;
    font-family: 'righteous', sans-serif;
    margin: 0;
}

.home_connexion {
    display: flex;
    justify-content: space-between;
}
.home_connexion .home_tab_link {
    text-decoration: none;
    color: var(--white);
    border-bottom: 1px solid transparent ;
    padding: 1px 0 ;
    /* border-radius: 15px; */
    font-weight: 500;
    font-size: 20px;
}

.home_connexion .home_tab_link:hover {
    cursor: pointer;
    border-bottom: 1px solid ;

}

.home_connexion .home_tab_link.active {
    color: var(--main-color);
    cursor: initial;
    border: none !important;
}

.tab-body {
    display: none;  
    position: relative;
}

.tab-body.active {
    display: block;
}
 
form{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.tab-body .input_box {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50px;
    margin: 20px 10px;
}


.toggle-password {
    position: relative;
    cursor: pointer;
  }
  
  .toggle-password span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .toggle-password .hide-password {
    display: none;
  }


  
.tab-body .input_box input {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    outline: none;
    border-radius: 20px;
    font-size: 1em;
    padding: 0 25px 0 45px;
    color: #000;
}

.tab-body .input_box label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events:none;
    transition: .5s;
    color: #000;
}

.tab-body .input_box input:focus~label,
.tab-body .input_box input:valid~label {
    font-size: 0.8em;
    top: -14px;
    left: 17px;
    color:#fff;
}

.home_btn {
    border-radius: 50px;
    padding: 12px 25px;
    background-color: #00d98e;
    font-weight: 600;
    transition: all 0.5s;
    margin: 20px auto;
}
.home_btn:hover {
    background-color: #16f8a9;
    transform: scale(1.05);
    cursor: pointer;
}