#playlist-container {
    background: #121216;
    height: 100%;
}

#playlist-header {
    margin: 70px 0 40px 40px;
}

#error_name_playlist {
    color: #c53c34;
    font-size: 20px;
}

#playlist-header i {
    margin-right: 20px;
}

#track_container {
    display: flex;
    flex-wrap: wrap;
}

#playlist-content {
    margin-left: 40px;
}

.playlist-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.1s ease-in-out;
}

.playlist-noimage {
    border: 1px solid var(--white);
}

.playlist-image i {
    font-size: 45px;
}

.playlist-image:hover i {
    transform: scale(1.1);
}

.playlist-image:hover {
    opacity: 1;
}

.playlist-image:hover .delete {
    display: block;
    
}

.delete:hover{
    opacity: 1;
}

.playlist-image:hover img, 
.playlist-image:hover .fa-question {
    opacity:0.4
}

.playlist-image img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid white;
}

.delete {
    position: absolute;
    font-size: 20px !important;
    top: 10px;
    right: 10px;
    display: none;
    transition: all 0.1s ease-in-out;
    opacity: 0.4;
}

#add_playlist {
    cursor: pointer;
    margin: 0 10px 20px 10px;
}

.add_playlist_image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgb(89, 89, 89), white);
}

.add_playlist_image .fa-thin.fa-plus {
    color: #5E5E5E;
    font-size: 70px;
    transition: all 0.2s ease-in-out;
    font-style: bol !important;
}

.add_playlist_image:hover .fa-thin.fa-plus {
    transform: scale(1.1);
}

.track {
    margin: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

/*----------------------------------------------------*/
#oneplaylist_header {
    display: flex;
    margin: 80px 8%;
}

#oneplaylist_header_img {
    height: 190px;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#oneplaylist_header_img i {
    font-size: 50px;
}

#oneplaylist_header_img img {
    height: 100%;
    width: 100%;
}

#oneplaylist_header_text {
    margin-left: 30px;
}

#tableTop {
    width: 100%;
}

#notrack {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 94%;
    margin: 3%;
}

#heart:hover {
    font-weight: bold;
    color: #c53c34;
}

#plus:hover {
    font-weight: bold;
    color: #00D98E;
}

#track:hover {
    background-color: #32323c;
}


.img-td img {
    width: 60px;
}

.img-td {
    width: 80px;
}

.rank-td {
    width: 5%;
}

.title-td {
    width: 35%;
}

.heart-td {
    width: 3rem;
}

.plus-td {
    width: rem;
}

.artist-mobile {
    display: none
}

th,
td {
    padding: 3px 10px;
}

tr:hover {
    background: var(--tertiary-bg)
}

.trash_icon {
    transition: 500ms;
    cursor: pointer;
}

.trash_icon:hover {
    color: #929292;
}

.track-container{
    cursor: pointer;
    border-bottom: 1px var(--grey-border) solid
}
/*Heart Button*/
input[type="checkbox"] {
    display: none;
    transition: 500ms;
}

input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 500ms;
}

input[type="checkbox"]+label:before {
    content: "\1F5A4";
    border: 1px solid transparent;
    border-radius: 3px;
    display: block;
    position: relative;
    transition: .5s ease;
}

input[type="checkbox"]:checked+label:before {
    border: 1px solid transparent;
    background-color: transparent;
}

input[type="checkbox"]:checked+label:after {
    content: '\1F49A';
    font-size: 18px;
    position: absolute;
    top: 0;
    transition: .5s ease;
}

/*------------------modal------------------*/
#bg-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 9;
    background-color: #23232D;
    display: none;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 20px;
    color: #A7A7A7;
}


#modal_add_playlist,
#modal_delete {
    position: fixed;
    width: 300px;
    /* height: 100px; */
    border-radius: 10px;
    background: #23232D;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 1px solid var(--grey-border);
}

#modal_delete form {
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#modal_delete input {
    background-color: #00D98E;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
}

#modal_delete span {
    text-align: center;
}

#modal_add_playlist span,
#modal_delete span {
    padding: 10px;
    display: flex;
    align-items: center;
}

#modal_add_playlist span#add_playlist_modal_header,
#delete_playlist_modal_header {
    border-bottom: var(--grey-border) 1px solid;
}

#add_playlist_name {
    justify-content: space-between;
}

#name_playlist_input {
    background: transparent;
    border: none;
    color: white;
}

.arrow-button {
    border: none;
    color: red;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-image: url('/assets/images/download.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    padding-right: 22px;
    background-color: transparent;
    transition: 200ms;
}

.arrow-button:hover {
    transform: scale(1.2);
}

form {
    display: flex;
}

#name_playlist_input:focus {
    outline: none;
}

#add_playlist_modal_header .fa-thin.fa-plus {
    margin: 0;
    margin-right: 20px;
    font-size: 30px;
}

#add_playlist_name i {
    color: #A7A7A7;
    cursor: pointer;
}

#error_message {
    margin-bottom: 20px;
}



/* ----------RESPONSIVE---------- */


@media (max-width: 768px) {
    #oneplaylist_header_img{
        height: 130px;
        width: 130px;
    }
    /* PLAYLISTS LIST */

    #playlist-content{
        margin-left: 0;
    }
    #track_container {
        flex-direction: column;
        padding: 10px 0;
    }

    #add_playlist{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 10px 20px;
        border-bottom: 1px solid var(--grey-border);
    }
   
    .track{
        flex-direction: row !important;
        margin: 0;
        padding: 10px 20px;
        border-bottom: 1px solid var(--grey-border);
        position: relative;        
    }

    .delete {
        top: calc(50% - 10px);
        right: 30px;
        opacity: 0.4 !important;
    }
    .delete:hover{
        opacity: 1 !important;
    }

    .track:hover,
    #add_playlist:hover{
        background: var(--tertiary-bg);
    }

    .playlist-image{
        width: 15vw;
        height: 15vw;
        min-width: 50px;
        min-height: 50px;
        max-width: 70px;
        max-height: 70px;
        margin-right: 10vw;
        margin-bottom: 0;
        position: initial;
    }

    #playlist-header{
       margin: 70px 0 20px 20px; 
    }

    h2{
        padding: 0 20px;
    }

    #oneplaylist_header_text h2 {
        padding: 0;
    }
    

    .playlist-image:hover .delete {
        display: none;
    }

    .track:hover .delete {
        display: block;
        opacity: 1;
    }

    .playlist-image:hover i {
        transform: scale(1) ;
    }
    
    /* ONE PLAYLIST */
    #divGenre {
        margin-bottom: 10px;
        justify-content: space-evenly;
        /* height: 600px; */
    }

    .divGenreButton {
        justify-content: space-evenly;
        /* height: 600px; */
    }
   

    .genreButton {
        width: 45%;
    }

    .title-td {
        /* background: yellow; */
        width: 50%;
        position: relative;
        /* background: red; */
    }

    .artist-mobile {
        display: initial;
        font-size: 12px;
    }

    .artist-td,
    .album-td {
        display: none;
    }

    .rank-td {
        width: 2rem;
        /* background: blue; */
    }

    .heart-td {
        width: 2.5rem;
        /* background: blue; */
    }

    .plus-td {
        width: 2.5rem;
        /* background: red; */
    }

    .img-td img {
        width: 60px;
    }
    
    .img-td {
        width: 70px !important;
    }
    
    thead {
        display: none;
    }

    #oneplaylist_header{
        margin: 40px 8%;
    }
}