{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/discovery.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/discovery.js') }}"></script>
{% endblock %}

{% block title %}Discovery
{% endblock %}


{% block main %}

	<div id="discovery">


		<div id="divSearch">
			<i id="searchIcon" class="fa-solid fa-magnifying-glass"></i>
			<input id="search" type="text" placeholder="Rechercher">

			<hr>
		</div>

		<div>
			<h1>swiper</p>
		</div>

		<div id="divGenre">
			<h4 id="titleGenre">Genres</h4>

			<div class="divGenreButton">
				<button id="rapButton" class="genreButton">Rap</button>
				<button id="popButton" class="genreButton">Pop</button>
				<button id="rockButton" class="genreButton">Rock</button>
				<button id="rnbButton" class="genreButton">R&amp;B</button>
			</div>

			<div class="divGenreButton">
				<button id="jazzButton" class="genreButton">Jazz</button>
				<button id="classiqueButton" class="genreButton">Classique</button>
				<button id="varieteButton" class="genreButton">Variété française</button>
				<button id="reggaeButton" class="genreButton">Reggae</button>
			</div>
		</div>

		<div>
			<h4 id="titleTopFrance">Top France</h4>

			<div id="tableTop">
				<table style="width:94%; margin-left:3%">
					<thead>
						<tr>
							<th colspan="5" style="width:50%">TITRE</th>
							<th colspan="1" style="width:25%">ARTISTE</th>
							<th colspan="1" style="width:25%">ALBUM</th>
						</tr>
					</thead>
					<tbody id="allTracks">
						<tr id="track">
							<td style="width:6%">
								<img id="albumCover" src="assets/images/albumCover.jpg" alt="albumImg">
							</td>
							<td style="width:1%">
								1.
							</td>
							<td style="width:36%">
								Flowers
							</td>
							<td>
								<i id="heart" class="fa-regular fa-heart"></i>
							</td>
							<td>
								<i id="plus" class="fa-solid fa-plus"></i>
							</td>
							<td>Miley Cyrus</td>
							<td>Flowers</td>
						</tr>
					</tbody>
				</td>
			</tr>
		</table>
	</div>
</div></div>{% endblock %}
