{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/style/admin.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/admin.js') }}"></script>
{% endblock %}

{% block title %}Hello AdminController!{% endblock %}

{% block main %}
    {{ parent() }}
    <div class="admin_container">
        <div class="admin_title">
            <h2>Admin</h2>
        </div>

        <div class="admin_general">
            <span>
                <p>utilisateurs</p>
            </span>
            <span>
                <p>Playlists créés</p>
            </span>
            <span>
                <p>musiques likés</p>
            </span>
        </div>
    </div>
{% endblock %}
