{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/playlist.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/playlist.js') }}"></script>
	<script src="{{ asset('assets/js/getTrackById.js') }}"></script>
{% endblock %}

{% block title %}Playlist
{% endblock %}

{% block main %}
	<div id="playlist-container">
		<div id="playlist-header">
			<h1>
				<i class="fa-solid fa-music"></i>
				Playlists
			</h1>
		</div>
		<div id="playlist-content">
			<h2>
				Playlists
			</h2>
			<div id="add_playlist">
				<div class="playlist-image add_playlist_image">
					<i class="fa-thin fa-plus"></i>
				</div>
				<span>Ajouter une playlist</span>
			</div>
		</div>
	{% endblock %}
