{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/favorite.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/favorite.js') }}"></script>
	<script src="{{ asset('assets/js/getTrackById.js') }}"></script>
{% endblock %}

{% block title %}Hello FavoriteController!
{% endblock %}

{% block main %}
	{{ parent() }}
	<div class="favorite_container">
		<div class="favorite_title">
			<i class="fa-solid fa-heart"></i>
			<h2>Favoris</h2>
		</div>

		<div class="favorite_general">

			<p>
				<span>2</span>
				coups de coeur</p>
			<button class="favorite_btn" type="button">
				<i class="fa-solid fa-play"></i>
				Écouter</button>
		</div>

	</div>
	<table style="margin:3%">

		<thead>
			<tr>
				<th class="img-td"></th>
				<th class="rank-td"></th>
				<th class="title-td">TITRE</th>
				<th class="heart-td"></th>
				<th class="plus-td"></th>
				<th class="artist-td">ARTISTE</th>
				<th class="album-td">ALBUM</th>
			</tr>
		</thead>
		<tbody id="allTracks">
			<tr class="track-container" id="2222984647" onclick="changeMusicInPlayer(this, event)">
				<td class="img-td">
					<img id="albumCover" src="https://e-cdns-images.dzcdn.net/images/cover/52449c0fc4c0bfe15fea9f0936085cfe/500x500-000000-80-0-0.jpg" alt="albumImg">
				</td>
				<td class="rank-td">
					1.
				</td>
				<td class="title-td">

					<div>
						<span>Demain</span><br>
						<span class="artist-mobile">
							PLK</span>
					</div>
				</td>
				<td class="heart-td">
					<input name="heart" type="checkbox" id="heart-2222984647"/>
					<label for="heart-2222984647"></label>
				</td>
				<td class="plus-td">
					<i id="plus" class="fa-solid fa-plus"></i>
				</td>

				<td class="artist-td">

					PLK
				</td>
				<td class="album-td">
					2069'

				</td>
			</tr>

			<tr class="track-container" id="2105158337" onclick="changeMusicInPlayer(this, event)">
				<td class="img-td">
					<img id="albumCover" src="https://e-cdns-images.dzcdn.net/images/cover/98610629a40996b61b3d24bd5ab8c2e1/500x500-000000-80-0-0.jpg" alt="albumImg">
				</td>
				<td class="rank-td">
					2.
				</td>
				<td class="title-td">
					<div>
						<span>Flowers</span><br>
						<span class="artist-mobile">
							Miley Cyrus</span>
					</div>
				</td>
				<td class="heart-td">
					<input name="heart" type="checkbox" id="heart-2105158337" checked/>
					<label for="heart-2105158337"></label>
				</td>
				<td class="plus-td">
					<i id="plus" class="fa-solid fa-plus"></i>
				</td>
				<td class="artist-td">
					Miley Cyrus
				</td>
				<td class="album-td">
					Flowers
				</td>
			</tr>
		</tbody>
	</table>

</div>{% endblock %}
