{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/favorite.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/favorite.js') }}"></script>
	<script src="{{ asset('assets/js/getTrackById.js') }}"></script>
{% endblock %}

{% block title %}Hello FavoriteController!
{% endblock %}

{% block main %}
	{{ parent() }}
	<div class="favorite_container">
		<div class="favorite_title">
			<i class="fa-solid fa-heart"></i>
			<h2>Favoris</h2>
		</div>

		<div class="favorite_general">

			<p>
				<span>2</span>
				coups de coeur
			</p>
			<button class="favorite_btn" type="button">
				<i class="fa-solid fa-play"></i>
				Écouter</button>
			<hr>
		</div>
	</div>

	<div id="favorite_empty">
		<p id="p_empty">
			Cliquez sur 
			<i class="fa-solid fa-heart"></i>
			pour ajouter en favoris
		</p>
	</div>
</div>{% endblock %}
